* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

body {
    font-family: sans-serif;
    font-size: 0;
    padding: 10px;
}

a {
    font-size: 12px;
    color: #424242;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 400px;
}

.wrapper table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
}

.wrapper table tr td {
    border: 1px solid #ddd;
}

.wrapper table tr .desc {
    padding: 10px;
}

input {
    display: block;
    font: 12px sans-serif;
    padding: 10px;
    background: #f5f5f5;
    border: none;
    width: 100%;
}

button {
    margin: 10px 0;
    display: block;
    font: 12px sans-serif;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    width: 100%;
}

#canvas {
    margin-bottom: 10px;
    max-width: 100%;
}
